<div>
    <h2 id="page-heading">
        <span jhiTranslate="mentalCentralApp.visit.home.title">Visits</span>

        <button *jhiHasAnyAuthority="'ROLE_RECEPTION'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-visit" [routerLink]="['/visit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mentalCentralApp.visit.home.createLabel">
            Create a new Visit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="visits?.length === 0">
        <span jhiTranslate="mentalCentralApp.visit.home.notFound">No visits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="visits && visits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="mentalCentralApp.visit.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="mentalCentralApp.visit.time">Time</span></th>
                    <th scope="col" ><span jhiTranslate="mentalCentralApp.visit.patient">Patient</span></th>
                    <th scope="col" ><span jhiTranslate="mentalCentralApp.patient.diagnosis">Diagnosis</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let visit of visits; trackBy: trackId">
                <td>{{ visit.type }}</td>
                <td>{{ visit.time | date:'dd.MM.yyyy HH:mm' }}</td>
                <td>
                    <div *ngIf="visit.patient">
                        {{ visit.patient?.fullName }}
                    </div>
                </td>
                <td>
                    <div *ngIf="visit.patient">
                        <a [routerLink]="['/patient', visit.patient?.id, 'edit']" >{{ visit.patient?.diagnosis }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/visit', visit.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/visit', visit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span *jhiHasAnyAuthority="'ROLE_RECEPTION'" class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            <span *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="d-none d-md-inline" jhiTranslate="mentalCentralApp.visit.appoint">Appoint therapy</span>
                        </button>

                        <button type="submit" (click)="delete(visit)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
