<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="visit">
            <h2><span jhiTranslate="mentalCentralApp.visit.detail.title">Visit</span> {{ visit.patient!.fullName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mentalCentralApp.visit.type">Type</span></dt>
                <dd>
                    <span>{{ visit.type }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.visit.time">Time</span></dt>
                <dd>
                    <span>{{ visit.time | date: 'dd.MM.yyyy' }}</span>

                </dd>
                <dt><span jhiTranslate="mentalCentralApp.visit.therapy">Therapy</span></dt>
                <dd>
                    <span>{{ visit.therapy }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.visit.doctor">Doctor</span></dt>
                <dd>
                    {{ visit.user?.lastName }}
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.visit.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="visit.patient">
                        {{ visit.patient?.fullName }}
                    </div>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.diagnosis">Diagnosis</span></dt>
                <dd>
                    <div *ngIf="visit.patient">
                        {{ visit.patient?.diagnosis }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button
                    (click)="creatingAndDownloadingPDF()"
                    class="btn btn-info"> <span jhiTranslate="mentalCentralApp.visit.docx">Download docx</span>
            </button>

            <button type="button " *jhiHasAnyAuthority="'ROLE_RECEPTION'"
                    [routerLink]="['/visit', visit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
