<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userExtra">
            <h2><span jhiTranslate="mentalCentralApp.userExtra.detail.title">User Extra</span> {{ userExtra.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mentalCentralApp.userExtra.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{ userExtra.middleName }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.userExtra.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ userExtra.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.userExtra.user">User</span></dt>
                <dd>
                    {{ userExtra.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-extra', userExtra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
