<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span jhiTranslate="mentalCentralApp.patient.detail.title">Patient</span> {{ patient.fullName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mentalCentralApp.patient.fullName">Full Name</span></dt>
                <dd>
                    <span>{{ patient.fullName }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{ patient.birthDate | date: 'dd.MM.yyyy' }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.address">Address</span></dt>
                <dd>
                    <span>{{ patient.address }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ patient.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.diagnosis">Diagnosis</span></dt>
                <dd>
                    <span>{{ patient.diagnosis }}</span>
                </dd>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">

                <fa-icon icon="pencil-alt"></fa-icon>
                <span *jhiHasAnyAuthority="'ROLE_RECEPTION'" jhiTranslate="entity.action.edit">Edit</span>
                <span *jhiHasAnyAuthority="'ROLE_DOCTOR'" jhiTranslate="mentalCentralApp.patient.home.assignDiagnose">Assign diagnose</span>
            </button>


        </div>
    </div>
</div>
