<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span jhiTranslate="mentalCentralApp.patient.detail.title">Patient</span> {{ patient.fullName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mentalCentralApp.patient.birthdayDate">Birthday Date</span></dt>
                <dd>
                    <span>{{ patient.birthdayDate | date:'dd-MM-yyy' }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.address">Address</span></dt>
                <dd>
                    <span>{{ patient.address }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.phone">Phone</span></dt>
                <dd>
                    <span>{{ patient.phone }}</span>
                </dd>
                <dt><span jhiTranslate="mentalCentralApp.patient.diagnosis">Diagnosis</span></dt>
                <dd>
                    <span>{{ patient.diagnosis }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
