<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-history-heading" jhiTranslate="mentalCentralApp.history.home.createOrEditLabel">Create or edit a History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mentalCentralApp.history.dateRecord" for="field_dateRecord">Date Record</label>
                    <div class="input-group">
                        <input id="field_dateRecord" type="text" class="form-control" name="dateRecord" ngbDatepicker #dateRecordDp="ngbDatepicker" formControlName="dateRecord"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateRecordDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateRecord')!.invalid && (editForm.get('dateRecord')!.dirty || editForm.get('dateRecord')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateRecord')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mentalCentralApp.history.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mentalCentralApp.history.info" for="field_info">Info</label>
                    <input type="text" class="form-control" name="info" id="field_info"
                           formControlName="info"/>
                    <div *ngIf="editForm.get('info')!.invalid && (editForm.get('info')!.dirty || editForm.get('info')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('info')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mentalCentralApp.history.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patientId">
                        <option *ngIf="!editForm.get('patientId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="patientOption.id" *ngFor="let patientOption of patients; trackBy: trackById">{{ patientOption.fullname }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('patientId')!.invalid && (editForm.get('patientId')!.dirty || editForm.get('patientId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('patientId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
